@use '../abstracts/variables' as *;

footer.site-footer {
  background: transparent;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

  .footer-container {
    text-align: center;
  }
  
  .footer-copyright {
    margin-bottom: 0.25rem;
  }
  
  .footer-address {
    font-size: .875em;
    color: $muted;
    margin-bottom: 0;
  }
}

.site-footer-internal {
  background-color: #201101;
  color: #f7f5f2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}