.grid-cols-responsive {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;

  // DEFAULT (Desktop > 992px)
  grid-template-columns: repeat(4, 1fr);

  // TABLET GRANDE 
  @media (max-width: 992px) { 
    grid-template-columns: repeat(3, 1fr);
  }

  // TABLET (iPad vertical)
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // TELÉFONO
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}