@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.guide-section {
  max-width: 900px; // Centra el contenido
  margin: 0 auto;
}

.guide-item {
  padding: 3rem 0;
  border-bottom: 1px solid rgba($dark, 0.1);

  @include responsive(tablet) {
    padding: 2rem 0;
  }

  &:first-child {
    padding-top: 0.5rem;
  }

  
  // Texto de párrafo
  p {
    font-size: 1rem;
    line-height: 1.6;
  }

}

.guide-image {
  border-radius: $radius;
  box-shadow: 0 8px 24px rgba($dark, 0.1);
  width: 100%;
  object-fit: cover;
  
  @include responsive(tablet) {
    margin-top: 1.5rem;
  }
}

.tiktok-section-wrapper {
  background-color: $dark; // Fondo marrón oscuro
  color: $bg;             
  padding: 4rem 0;        
}

.tiktok-section {
  &.guide-item {
    border-bottom: none; 
    padding: 0;          
  }

  // Invertimos los colores del texto
  h2 {
    color: $brand; 
  }
  p {
    color: $bg; 
  }
}

.tiktok-grid {
  display: grid;
  // 3 columnas en desktop
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem;
  margin-top: 1.5rem;

  // 1 columna en móvil
  @include responsive(tablet) {
    grid-template-columns: 1fr;
    max-width: 350px; // 
    margin-left: auto;
    margin-right: auto;
  }

  .tiktok-embed {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
  }
}

